<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<title>淘宝网页触屏版</title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/css/stylesheet.css">
	<link rel="stylesheet" href="./stylesheets/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="./stylesheets/css/iconfont.css">
	<script type="text/javascript" src="./stylesheets/js/jquery.min.js"></script>
</head>
<body>
	<div class="top-fixed" style="left: 0px;top: 0px;width: 100%;display: block; position: fixed;z-index: 3;">
		<header>
			<div class="header-wrap">
				<div id ="search">
					<span>
						<i class="iconfont icon-sousuo"></i>
						寻找宝贝店铺
					</span>
				</div>
			</div>
		</header>
	</div>
	<div id="content">
		<div class="swiper-container">
    		<div class="swiper-wrapper">
        		<div class="swiper-slide"><img src="./stylesheets/img/slider1.jpg"></div>
        		<div class="swiper-slide"><img src="./stylesheets/img/slider2.jpg"></div>
        		<div class="swiper-slide"><img src="./stylesheets/img/slider3.jpg"></div>
        		<div class="swiper-slide"><img src="./stylesheets/img/slider4.jpg"></div>
        		<div class="swiper-slide"><img src="./stylesheets/img/slider5.jpg"></div>
        		<div class="swiper-slide"><img src="./stylesheets/img/slider6.jpg"></div>
        		<div class="swiper-slide"><img src="./stylesheets/img/slider7.jpg"></div>
        		<div class="swiper-slide"><img src="./stylesheets/img/slider8.jpg"></div>
   		 	</div>
   		 	<div class="swiper-pagination"></div>
   		</div>
	   		<div class="choosecontent">
			<div class="choosebox">
				<div class="chooseitem">
					<div class="itemline">
						<div class="itemimg" style="background-image: url(./stylesheets/img/mao1.png);"></div>
						<div class="itemtext">
							天猫
						</div>
					</div>
				</div>
				<div class="chooseitem">
					<div class="itemline">
						<div class="itemimg" style="background-image: url(./stylesheets/img/mao2.png);"></div>
						<div class="itemtext">
							聚划算
						</div>
					</div>
				</div>
				<div class="chooseitem">
					<div class="itemline">
						<div class="itemimg" style="background-image: url(./stylesheets/img/mao3.png);"></div>
						<div class="itemtext">
							天猫国际
						</div>
					</div>
				</div>
				<div class="chooseitem">
					<div class="itemline">
						<div class="itemimg" style="background-image: url(./stylesheets/img/mao4.png);"></div>
						<div class="itemtext">
							外卖
						</div>
					</div>
				</div>
				<div class="chooseitem">
					<div class="itemline">
						<div class="itemimg" style="background-image: url(./stylesheets/img/mao5.png);"></div>
						<div class="itemtext">
							天猫超市
						</div>
					</div>
				</div>
			</div>
			<div class="choosebox">
				<div class="chooseitem">
					<div class="itemline">
						<div class="itemimg" style="background-image: url(./stylesheets/img/mao6.png);"></div>
						<div class="itemtext">
							充值中心
						</div>
					</div>
				</div>
				<div class="chooseitem">
					<div class="itemline">
						<div class="itemimg" style="background-image: url(./stylesheets/img/mao7.png);"></div>
						<div class="itemtext">
							阿里旅行
						</div>
					</div>
				</div>
				<div class="chooseitem">
					<div class="itemline">
						<div class="itemimg" style="background-image: url(./stylesheets/img/mao8.png);"></div>
						<div class="itemtext">
							领金币
						</div>
					</div>
				</div>
				<div class="chooseitem">
					<div class="itemline">
						<div class="itemimg" style="background-image: url(./stylesheets/img/mao9.png);"></div>
						<div class="itemtext">
							到家
						</div>
					</div>
				</div>
				<div class="chooseitem">
					<div class="itemline">
						<div class="itemimg" style="background-image: url(./stylesheets/img/mao10.png);"></div>
						<div class="itemtext">
							分类
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="UIview"></div>
		<div class="toutiaocontent">
			<div id="move" class="movebox" style="transform: translateY(0%);">
				<div class="toutiaobox">
					<div class="toutiaoimg"></div>
					<div class="toutiaonew">最新</div>
					<div class="toutiaotext">淘宝触屏版首页_(:зゝ∠)_</div>
				</div>
				<div class="toutiaobox">
					<div class="toutiaoimg"></div>
					<div class="toutiaonew">摄影</div>
					<div class="toutiaotext">千年陨石分裂坠落BOOM</div>
				</div>
				<div class="toutiaobox">
					<div class="toutiaoimg"></div>
					<div class="toutiaonew">最新</div>
					<div class="toutiaotext">这东西确实难写╮(╯▽╰)╭</div>
				</div>
				<div class="toutiaobox">
					<div class="toutiaoimg"></div>
					<div class="toutiaonew">美食</div>
					<div class="toutiaotext">纯正女子高中生口嚼酒</div>
				</div>
			</div>
		</div>
		<div class="cut-off"></div>
		<div class="qiangcontent">
			<div class="qiangbox">
				<div class="taoqiangbox">
					<div class="taoqiang"></div>
					<div class="taotimebox">
						<div class="taotime">
							<span role="h">15</span><span class="dot">:</span><span role="m">49</span><span class="dot">:</span><span role="s">03</span>
						</div>
					</div>
				</div>
				<div class="UIview"></div>
				<div class="goodgoods">
					<div style="box-sizing: border-box;line-height: 0;width: 6.188rem;height: 2.313rem;background-color: rgb(255, 255, 255);position: relative;background-position: initial initial;background-repeat: initial initial;">
						<div class="good1">
							<div class="good1text"></div>
							<div class="good1img"></div>
						</div>
					</div>
					<div class="UIview"></div>
					<div class="good2">
						<div class="good2img" style="background: url(./stylesheets/img/good21.jpg);background-size: contain;background-repeat: no-repeat;"></div>
						<div class="UIview"></div>
						<div class="good2img" style="background: url(./stylesheets/img/good22.png);background-size: contain;background-repeat: no-repeat;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="cut-off"></div>
		<div class="salescontent">
			<div class="salestitle">
				<div class="salesicon"></div>
				<div class="salestext">超实惠</div>
			</div>
			<div class="UIview"></div>
			<div class="salesbox">
				<div class="salesgood1" style="background: url(./stylesheets/img/salesbig1.jpg);background-size: contain;background-repeat: no-repeat;"></div>
				<div class="UIview"></div>
				<div class="salesgood2" style="background: url(./stylesheets/img/sales1.png);background-size: contain;background-repeat: no-repeat;"></div>
				<div class="UIview"></div>
				<div class="salesgood2" style="background: url(./stylesheets/img/sales2.png);background-size: contain;background-repeat: no-repeat;"></div>
				<div class="UIview"></div>
				<div class="salesgood2" style="background: url(./stylesheets/img/sales3.jpg);background-size: contain;background-repeat: no-repeat;"></div>
			</div>
			<div class="UIview"></div>
			<div class="salesbox">
				<div class="salesgood1" style="background: url(./stylesheets/img/salesbig2.png);background-size: contain;background-repeat: no-repeat;"></div>
				<div class="UIview"></div>
				<div class="salesgood2" style="background: url(./stylesheets/img/sales4.png);background-size: contain;background-repeat: no-repeat;"></div>
				<div class="UIview"></div>
				<div class="salesgood2" style="background: url(./stylesheets/img/sales5.png);background-size: contain;background-repeat: no-repeat;"></div>
				<div class="UIview"></div>
				<div class="salesgood2" style="background: url(./stylesheets/img/sales6.png);background-size: contain;background-repeat: no-repeat;"></div>
			</div>
		</div>
		<div id="pagebottom">
			<div class="bottombox">
				<div class="buttons">
					<a href="">登录</a>
					<a href="">注册</a>
					<a href="">电脑版</a>
					<a href="">用户反馈</a>
				</div>
				<div class="copyright">2016 林何泽宇 201508223011</div>
			</div>
		</div>
	</div>
	<div style="width: 100%; height: 1.172907rem;"></div>
	<div class="bottom-fixed" style="left: 0px; bottom: 0px; width: 100%; display: block;position: fixed;z-index: 3;">
		<footer>
			<a class="bottomicon">
				<i class="iconfont icon-shouye"></i>
				<p>首页</p>
			</a>
			<a class="bottomicon">
				<i class="iconfont icon-wuliu"></i>
				<p>物流</p>
			</a>
			<a class="bottomicon">
				<i class="iconfont icon-gouwuche"></i>
				<p>购物车</p>
			</a>
			<a class="bottomicon">
				<i class="iconfont icon-yonghu"></i>
				<p>我的淘宝</p>
			</a>
			<a class="bottomicon">
				<i class="iconfont icon-gengduo"></i>
				<p>更多</p>
			</a>
		</footer>
	</div>
	
	<script type="text/javascript" src="./stylesheets/js/myjs.js"></script>
	<script type="text/javascript" src="./stylesheets/js/rem.js"></script>
	<script src="./stylesheets/js/swiper.min.js"></script>
	<script>
		var mySwiper = new Swiper ('.swiper-container', {
    		autoplay : 4000,
    		pagination: '.swiper-pagination',
    		loop : true,
    		freeMode : false,
  		})        
	</script>
</body>
</html>